body {
  line-height: 2em;
  font-family: 'Merriweather', serif;
  font-size: 24px;
}

strong { font-weight: bold; }
em { font-style: italic; }

ol {
  list-style: none;
}

ul {
  list-style: square outside;
  margin-left: 20px;
}

ul.emphasize {
  padding-top: 50px;
  list-style: none;
  text-align: center;
  font-size: 36px;
}

ul.emphasize li {
  margin-top: 40px;
}

table {
  border: 1px solid #c0c0c0;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: center;
  border: 1px solid #c0c0c0;
  padding: 15px;
}

th { font-weight: bold; }

h1, h2 {
  font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 0.5em;
}

.single h1 {
  margin-top: 300px;
}

h2 {
  font-size: 36px;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

pre, code, #console {
  font-family: Courier, Courier New;
}

#console {
  position: fixed;
  width: 600px;
  height: 150px;
  top: 10px;
  left: 10px;
  border 1px solid #a0a0a0;
  line-height: 1.1em;
  background-color: #ffffff;
  z-index: 255;

  -webkit-box-shadow: 0 0 10px #a0a0a0;
  -moz-box-shadow: 0 0 10px #a0a0a0;
  box-shadow: 0 0 10px #a0a0a0;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#console .consolePanel, #console .consoleOutput {
  padding: 10px;
}

#console .consolePanel {
  font-family: Courier, Courier New;
  color: #ffffff;
  padding-bottom: 0;
  border-bottom: 1px solid #c0c0c0;
}

#console .consoleOutput {
  padding-top: 0;
}

pre {
  margin-top: 10px;
  border: 1px solid #c0c0c0;
  padding: 10px;
  line-height: 1.5em;
  background-color: #eeeeee;
}

div.slide {
  -webkit-box-shadow: 0 0 50px #c0c0c0;
  -moz-box-shadow: 0 0 50px #c0c0c0;
  box-shadow: 0 0 50px #c0c0c0;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;

  height: 700px;
  width: 900px;
  padding: 50px;
  position: relative;
}

div.coverslide {
  text-align: center;
}

div.coverslide h1 {
  margin-top: 300px;
}

div.inactiveslide {
  opacity: 0.1;
}

div.activeslide {
  opacity: 1;
}
